MONGO_URI=
SMTP_HOST=
SMTP_PORT=
SMTP_PASS=
EMAIL_USER=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=http://localhost:5001
BACKEND_URL=http://localhost:5001

# cloud_name: process.env.CLOUDINARY_CLOUD_NAME,
#   api_secret: process.env.CLOUDINARY_API_SECRET,
